__pycache__/
*.py[cod]

.env
.env.*

backups/
prod/

index.html
index_teams.html
index_showcases.html
match_history_dashboard.html
match_history_dashboard_teams.html
match_history_dashboard_showcases.html
